.header {
    background: black;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
}

.header h1 {
    color: white;
    display: inline;
    font-size: 30px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
