.home {
    padding: 25px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #F29877;
    color: white;
    letter-spacing: 1px;
    word-spacing: 5px;
    width: 100%;
}

.return-api {
    margin-top: 25px;
    min-width: 50vw;
    border: 3px solid #0D1A26;
    border-radius: 5px;
    padding: 10px;
    background: #0D1A26;
}

.return-api p {
    font-size: 18px;
}

label {
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}